<!DOCTYPE html>
<html>
    <head>
        <title>
            Image Search Abstraction Layer
        </title>
    </head>
    <body>
        <h1>
            Hi! Welcome to my Image Search Abstraction Layer API.
        </h1>
        <div>
            <div>
                You can query a string into the URL like this:
            </div>
            <a href = "localhost/8003/api/GoogleImages/kittenz">localhost/8003/api/GoogleImages/kittenz</a>
        </div>
        </br>
        <div>
            <div>
                You can also find the 10 last searched queries through this link below:
            </div>
            <a href = "localhost/8003/api/recent/"> localhost/8003/api/recent </a>
        </div>
        <h1> Have fun. </h1>
    </body>
</html>